html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.overlay {
	position: absolute;
	top: 29%;
	left: 33%;
	z-index: 1;
	text-align: center;
	padding: 80px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: rgb(247, 247, 247);
	text-shadow: 3px 3px rgba(50, 50, 100, 0.5);
	box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: box-border;
}

.app {
	background-size: cover;
	background-position: bottom;
	transition: 0.4 ease-out;
}

main {
	min-height: 1000vh;
	background-color: rgb(222, 246, 248);
	padding: 5px;
	margin-left: 0;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.search-box {
	width: 100%;
	margin: 0 0 50px 50px;
	position: relative;
}

.search-bar {
	display: block;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;

	appearance: none;
	background: none;
	border: none;
	outline: none;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 16px 16px;
	margin-top: -25px;

	box-shadow: 8px 5px rgba(0, 0, 0, 0.2);
}

.background-video {
	transition: 0.4s ease-in;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 10;
	left: 0;
}

.location {
	font-size: 80px;
}

.icon {
	font-size: 100px;
}

#weatherDesc {
	font-size: 40px;
	font-weight: 600;
}

.temp {
	font-size: 80px;
}

h3 {
	display: flex;
	justify-content: space-around;
	word-spacing: 5px;
}
