.overlay {
	position: absolute;
	top: 29%;
	left: 33%;
	z-index: 1;
	text-align: center;
	padding: 40px;

	color: rgb(247, 247, 247);
	text-shadow: 3px 6px rgba(50, 50, 100, 0.5);
	box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	padding: 15px 25px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: box-border;
}

body {
	font-family: 'montserrat', 'sans-serif';
}

.app {
	background-size: cover;
	background-position: bottom;
	transition: 0.4 ease-out;
}

main {
	min-height: 1000vh;
	background-color: rgb(220, 240, 215);
	padding: 5px;
	margin-left: 0;
	width: 100%;
}

.search-box {
	width: 100%;
	margin: 0 0 50px 50px;
	position: relative;
}

.search-bar {
	display: block;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-size: 30px;

	appearance: none;
	background: none;
	border: none;
	outline: none;

	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0px 0px 16px 16px;
	margin-top: -25px;

	box-shadow: 8px 5px rgba(0, 0, 0, 0.2);
}

.background-video {
	transition: 0.4s ease-in;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 10;
	left: 0;
}

.location {
	font-size: 80px;
}

/* .container {
  top: 0;
  bottom: 0;
  width: 1000px;
  height: 100%;
  margin-left: 0;
  margin-right: 0;

} */
